<li>
    {{name}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Do you want to make another one?{{else}}Waiting to be eaten{{/if}}
    </button>
    <button class="delete" data-id="{{id}}">Delete</button>
</li>

