<li>
    {{name}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Another one?{{else}}Would you like some?{{/if}}
    </button>
    <button class="delete" data-id="{{id}}">Delete</button>
</li>

